[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/citizenlabsgr/gohugo-theme-ananke.git
[submodule "themes/hugo-fresh"]
	path = themes/hugo-fresh
	url = https://github.com/StefMa/hugo-fresh
