<section class="section section-light-grey is-medium">
  <div class="container">
    <div class="title-wrapper has-text-centered">
      <h2 class="title is-2 is-spaced">Drop us a line or two </h2>
      <h3 class="subtitle is-5 is-muted">We'd love to hear from you</h3>
      <div class="divider is-centered"></div>
    </div>

    <div class="content-wrapper">
      <div class="columns">
        <div class="column is-6 is-offset-3">
          <form id="fs-frm" name="complaint-form" accept-charset="utf-8" action="https://formspree.io/xbjrwlyp" method="post">
  <fieldset id="fs-frm-inputs">
    <label for="full-name">Full Name</label>
    <input type="text" name="name" id="full-name" placeholder="First and Last" required="">
    <label for="email-address">Email Address</label>
    <input type="email" name="_replyto" id="email-address" placeholder="email@domain.tld" required="">
    <label for="telephone">Telephone Number (Optional)</label>
    <input type="telephone" name="telephone" id="telephone" placeholder="(555) 555-5555">
    <label for="complaint">Harassment Complaint</label>
    <textarea rows="6" name="complaint" id="complaint" placeholder="When did this occur? Where did it occur? Please provide more details here." required=""></textarea>
    <input type="hidden" name="_subject" id="email-subject" value="Complaint Form Submission">
  </fieldset>
  <input type="submit" value="File Complaint">
</form>
        </div>
      </div>
    </div>
  </div>
</section>
