<section class="section section-light-grey is-medium">
  <div class="container">
    <div class="title-wrapper has-text-centered">
      <a name="contact"><h2 class="title is-2 is-spaced">Drop us a line or two</h2></a>
      <h3 class="subtitle is-5 is-muted">We'd love to hear from you</h3>
      <div class="divider is-centered"></div>
    </div>

    <div class="content-wrapper">
      <div class="columns">
        <div class="column is-6 is-offset-3">
          <form action="https://formspree.io/hello@citizenlabs.org" method="POST">
            <div class="columns is-multiline">
              <div class="column is-6">
                <input class="input is-medium" type="text" name="name" placeholder="Enter your name">
              </div>
              <div class="column is-6">
                <input class="input is-medium" type="email" name="_replyto" placeholder="Enter your email address">
              </div>
              <div class="column is-12">
                <textarea class="textarea" name="message" rows="10" placeholder="Write someting..."></textarea>
              </div>
              <div class="form-footer has-text-centered mt-10">
                <button class="button cta is-large primary-btn raised is-clear" input type="submit">Send Message</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
