<footer class="bg-orange bottom-0 w-100 pa3" role="contentinfo">
  <div class="flex justify-between">
  <a class="f4 fw4 hover-white no-underline white-70 dn dib-ns pv2 ph3" href="{{ .Site.BaseURL }}" >
    &copy; {{ now.Format "2006" }} {{ .Site.Title }}
  </a>
  {{ partial "social-follow.html" . }}
  </div>
<br>
<small class="f6 no-underline white-70 db tc"><b class="ttu">Citizen Labs</b> is a non-partisan, non-political 501(c)(3) charitable organization. EIN number 81-4860737</small>
</footer>
